.timer__time {
  margin: 0;
  margin-left: 6px;
  padding: 10px 15px;
  background-color: #242641;
  color: #fff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  border-radius: 5px;
}

.timer__time:first-child {
  margin-left: 0;
}
